<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./src/app.js" defer></script>
</head>
<body>
    
<div id="app">

    <form id="app-form">
        <input type="text" v-model="input_name" placeholder="Digite o seu nome"><br>
        <input type="text" v-model="input_idade" placeholder="Digite a sua idade"><br>
        <input type="text" v-model="input_cidade" placeholder="Digite a sua cidade"><br>
        <input type="submit" value="Enviar" v-on:click="submitForm">
    </form>

    <p>O meu nome é: {{ input_name }}
    <p>minha idade é: {{ input_idade }}
    <p>moro na cidade de: {{ input_cidade }}</p>
    
</div>
</body>
</html>